<div class="auth-main-container" *ngIf="!loading">
    <div class="auth-title">Login to Twitee</div>
    <div class="form-section">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-item">
                <label for="email">Email</label>
                <input class="auth-input" id="email" type="email" formControlName="email">
                <div class="input-validation" *ngIf="loginForm.get('email').hasError('required')">Enter Correct Email</div>
            </div>
            <div class="form-item">
                <label for="password">Password</label>
                <input class="auth-input" id="password" type="text" formControlName="password">
                <div class="input-validation" *ngIf="loginForm.get('password').hasError('required')">Enter Correct Password</div>
            </div>
            <div class="form-validation" *ngIf="loginFail">Invalid Email or Password !</div>
            <button class="auth-button" type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
    </div>
    <div class="auth-alt">
        <div class="alt-ques">Don't have an account?</div>
        <div class="alt-btn" (click)="register()">Register</div>
    </div>
</div>

<div class="loader" *ngIf="loading"></div>